.export {
    background-color: #046031 !important;
    width: auto;
    color: #fff;
    border-radius: 3px !important;
    padding:0px !important;
}

.menuButton a.csv {
    background: url(../images/skin/csv.png) #0f5288 center left no-repeat !important;
    color: #fff !important;
    padding-right: 25px !important;
    padding-bottom: 2px !important;
}

.menuButton a.excel {
    background: url(../images/skin/excel.png) center left no-repeat;
    color: #333;
}

.menuButton a.pdf {
    background: url(../images/skin/pdf.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.xml {
    background: url(../images/skin/xml.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.rtf {
    background: url(../images/skin/rtf.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.ods {
    background: url(../images/skin/ods.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.navbar-dark .navbar-text a{
    color:#0f5288 !important;
}
.navbar-dark .navbar-text a:hover{
    color:#046031 !important;
}
a.navbar-brand{
    color:#000 !important;
}
.more {
    display: block;
}
.expanding {
    display: none;
}
td:hover > .expanding {
    display: block;
}
td:hover > .more {
    display: none;
}